h2 All Questions

p= link_to 'Ask question', new_question_path 

div data-questions-list="true"

  h3 Questions list
  table
    tr
      th Question title     
      th Body   

    tbody.questions-list  
      cache collection_cache_key_for :question do 
        = render partial: 'question',
          collection: @questions,
          as: :question

  
